.admin {
	display: grid;
	grid-template-columns: 64px 1fr;

	background: #f8f9fc;

	transition: all 0.5s ease;
	min-width: 1200px;

	.admin-end {
		display: flex;
		flex-direction: column;

		max-height: 100vh;

		.admin-content {
			flex: 1;
			overflow: auto;

			padding: 32px 24px;
		}
	}

	&.show-sidebar {
		grid-template-columns: 300px 1fr;
	}
}
