body {
	--bg-primary: #0d6efd;
	--bg-hover-primary: rgba(16, 49, 149, 0.5);
	--bg-active-primary: #103295;
	--bg-info: #e0efff;

	--color-primary: #004ca1;

	height: 100vh;
	min-height: 500px;
	overflow-y: auto;
}
