.page-carousel {
	display: flex;
	align-items: center;
	gap: 4px;

	margin: 6px 0px;

	.page-carousel-item {
		display: flex;
		align-items: center;
		gap: 4px;

		font-weight: bold;
		color: var(--color-primary);
		text-decoration: none;

		&::after {
			width: 20px;
			height: 20px;

			background: url('../../public/media/management/arrow-down.png') no-repeat;
			background-size: 100%;

			transform: rotate(-90deg);
			content: '';
		}

		&:nth-last-child(1) {
			font-weight: normal;

			&::after {
				display: none;
			}
		}
	}
}

.page-header {
	display: flex;
	justify-content: space-between;

	.page-header-title {
		margin-bottom: 22px;

		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--color-primary);
	}

	.page-header-buttons {
		display: flex;
		justify-content: flex-end;
	}
}

.page-card {
	.page-card-header {
		.page-card-tab {
			position: relative;
			display: flex;
			gap: 8px;

			&:has(.page-card-tab-item .page-card-tab-button) {
				gap: 24px;
			}

			.page-card-tab-item {
				position: relative;

				.page-card-tab-item-title {
					border-radius: 4px 4px 0px 0px;
					padding: 14px 32px;
					min-width: 100px;

					font-weight: 500;
					color: #a19f9f;

					background: #efefef;
					cursor: pointer;
					transition: all 0.2s ease;
				}

				&.is-active .page-card-tab-item-title {
					background: white;
					color: var(--color-primary);
					box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
				}

				.page-card-tab-button {
					position: absolute;
					top: -16px;
					right: -16px;
					z-index: 2;
				}
			}
		}
	}

	.page-card-body {
		position: relative;
		z-index: 1;

		background: white;
		box-shadow: 0px 4px 8px rgba(4, 45, 65, 0.1);
		height: 100%;

		padding: 24px 16px;
		border-radius: 0px 4px 4px 4px;

		.controls {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;

			.btn-circle {
				width: max-content;
				height: max-content;

				border: unset;
				padding: 0px;

				background: white !important;
			}
		}
	}
}
