.modal {
	.modal-header {
		.btn-close {
			box-shadow: unset !important;
		}
	}
	.modal-content {
		border: unset;

		.modal-header {
			border: unset;
		}

		.modal-footer {
			border: unset;
			padding: 8px;
		}
	}
}
